/**
 * Cecilia Tong
 * Class 7 Exercise & Homework
 * Nov 29, 2022
 * CUSTOM VALIDATION
 */
 
input:valid {
    border: 1px solid lightseagreen
}

input:invalid {
    border: 1px solid tomato;
} 

.invalid {
    background-color: red;
}